.A4 {
  width: 1097px;
  height: 1000px;
  background-color: white;
}

.signature {
  display: flex;
  margin: 60px auto 0;
  width: 94%;
  align-content: flex-start;
}

.align-r {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
}

p {
  text-align: left;
  // padding-top: 10px;
  padding-left: 10px;
}
.align {
width:100%;
justify-content: space-between;
}

.bb {
  border-bottom: 1px solid black;
  width: 250px;
}

.bb_ml {
  margin-left: 38px;
}

.r {
  text-align: right;
  font-weight: bold;
}

.summ {
  margin: 5px auto 0;
  width: 90%;
}

.total {
  width: 90%;
  margin: 0 auto;
}

.grid-container3 {
  display: grid;
  width: 90%;
  height: 120px;
  margin: 20px auto 0;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "prov rekv"
    "buyer rekv2";
}

.l {
  text-align: left;
  font-weight: bolder;
}

.padding {
  // padding-top: 5px !important;
  // padding-bottom: 2px !important;
  // padding: 3px;
  text-align: center;
  padding:0 !important;
}

.prov {
  grid-area: prov;
}

.buyer {
  grid-area: buyer;
}

.rekv {
  grid-area: rekv;
}

.rekv2 {
  grid-area: rekv2;
}

.pay {
  font-size: 20px;
  font-weight: bold;
}

.marg {
  margin: 80px auto 0;
  width: 90%;
}

.i {
  text-align: center;
  vertical-align: baseline;
}

.grid-container2 {
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 1fr 6fr 3fr 3fr;
  grid-template-rows: 0.3fr 5fr;
  gap: 0px 0px;
  grid-template-areas:
    "mnmn qw we ew"
    "vcvc rtrt tyty jhjh";
  width: 90%;
  height: 120px;
  border: 1px solid black;
}

.qw {
  grid-area: qw;
  /* border: 1px solid black; */
}

.we {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.ew {
  grid-area: ew;
  display: flex;
align-items: center;
  /* border: 1px solid black; */
}

.rtrt {
  grid-area: rtrt;
  border-top: 1px solid black;
}

.tyty {
  grid-area: tyty;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
align-items: center;
}

.jhjh {
  grid-area: jhjh;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}

.mnmn {
  grid-area: mnmn;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.vcvc {
  grid-area: vcvc;
  border-right: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 4.5fr 1fr 3fr;
  grid-template-rows: 2fr 0.7fr 3.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "bank-pol bikKS NUMBER"
    "INNKPP RAS-SCHET numberRS"
    "POL RAS-SCHET numberRS";
  border: 1px solid black;
  width: 90%;
  height: 230px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.bank-pol {
  grid-area: bank-pol;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.INNKPP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "INN KPP";
  grid-area: INNKPP;
  border-bottom: 1px solid black;
}

.KPP {
  grid-area: KPP;
  border-right: 1px solid black;
}

.INN {
  grid-area: INN;
  border-right: 1px solid black;
}

.POL {
  grid-area: POL;
  border-right: 1px solid black;
}

.bikKS {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "BIK"
    "KS";
  grid-area: bikKS;
}

.KS {
  grid-area: KS;
  border-bottom: 1px solid black;
}

.BIK {
  grid-area: BIK;
  border-bottom: 1px solid black;
}

.NUMBER {
  grid-area: NUMBER;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.RAS-SCHET {
  grid-area: RAS-SCHET;
}

.numberRS {
  grid-area: numberRS;
  border-left: 1px solid black;
}

.solid {
  border: 2px solid;
}