#check {
  display: flex !important;
  min-width: 300px;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  width: 100%;
  margin-left: auto;
}

.row,
html {
  display: -webkit-box;
}

.flex-column,
.flex-row {
  -webkit-box-direction: normal !important;
}

.heading-1,
.heading-2,
.heading-3,
body,
h1,
h2,
h3 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: Magnolia-Script;
  font-display: auto;
  src: local("Magnolia"), local("Magnolia Script"), local("Magnolia-Script"),
    url(../fonts/Magnolia.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.eot);
  font-display: auto;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url(../fonts/Gilroy-ExtraBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-ExtraBold.woff) format("woff"),
    url(../fonts/Gilroy-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Heavy.eot);
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
    url(../fonts/Gilroy-Heavy.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Heavy.woff) format("woff"),
    url(../fonts/Gilroy-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-LightItalic.eot);
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"),
    url(../fonts/Gilroy-LightItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-LightItalic.woff) format("woff"),
    url(../fonts/Gilroy-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-ThinItalic.eot);
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"),
    url(../fonts/Gilroy-ThinItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-ThinItalic.woff) format("woff"),
    url(../fonts/Gilroy-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-BlackItalic.eot);
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"),
    url(../fonts/Gilroy-BlackItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-BlackItalic.woff) format("woff"),
    url(../fonts/Gilroy-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-BoldItalic.eot);
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"),
    url(../fonts/Gilroy-BoldItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-BoldItalic.woff) format("woff"),
    url(../fonts/Gilroy-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-SemiBold.eot);
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url(../fonts/Gilroy-SemiBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-SemiBold.woff) format("woff"),
    url(../fonts/Gilroy-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-UltraLightItalic.eot);
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"),
    url(../fonts/Gilroy-UltraLightItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-UltraLightItalic.woff) format("woff"),
    url(../fonts/Gilroy-UltraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-SemiBoldItalic.eot);
  src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"),
    url(../fonts/Gilroy-SemiBoldItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-SemiBoldItalic.woff) format("woff"),
    url(../fonts/Gilroy-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Light.eot);
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url(../fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Light.woff) format("woff"),
    url(../fonts/Gilroy-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-MediumItalic.eot);
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
    url(../fonts/Gilroy-MediumItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-MediumItalic.woff) format("woff"),
    url(../fonts/Gilroy-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-ExtraBoldItalic.eot);
  src: local("Gilroy ExtraBold Italic"), local("Gilroy-ExtraBoldItalic"),
    url(../fonts/Gilroy-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-ExtraBoldItalic.woff) format("woff"),
    url(../fonts/Gilroy-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Regular.eot);
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url(../fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Regular.woff) format("woff"),
    url(../fonts/Gilroy-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-HeavyItalic.eot);
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"),
    url(../fonts/Gilroy-HeavyItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-HeavyItalic.woff) format("woff"),
    url(../fonts/Gilroy-HeavyItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Medium.eot);
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Medium.woff) format("woff"),
    url(../fonts/Gilroy-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-RegularItalic.eot);
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
    url(../fonts/Gilroy-RegularItalic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-RegularItalic.woff) format("woff"),
    url(../fonts/Gilroy-RegularItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-UltraLight.eot);
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
    url(../fonts/Gilroy-UltraLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-UltraLight.woff) format("woff"),
    url(../fonts/Gilroy-UltraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Bold.eot);
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url(../fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Thin.eot);
  src: local("Gilroy Thin"), local("Gilroy-Thin"),
    url(../fonts/Gilroy-Thin.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Thin.woff) format("woff"),
    url(../fonts/Gilroy-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: auto;
  src: url(../fonts/Gilroy-Black.eot);
  src: local("Gilroy Black"), local("Gilroy-Black"),
    url(../fonts/Gilroy-Black.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy-Black.woff) format("woff"),
    url(../fonts/Gilroy-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@media only screen and (min-device-width: 480px) {
  .container {
    max-width: 290px;
  }
}

@media only screen and (min-device-width: 768px) {
  .container {
    max-width: 708px;
  }
}

@media only screen and (min-device-width: 1025px) {
  .container {
    max-width: 964px;
  }
}

@media only screen and (min-device-width: 1230px) {
  .container {
    max-width: 1170px;
  }
}

.check__value {
  text-align: end;
}

@media only screen and (min-device-width: 1024px) {
  .col-4 {

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33333%;
    max-width: 340px;
    min-width: 320px;
  }
}

@media only screen and(min-device-width: 768px) and (max-device-width: 1023px) {
  .col-4 {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33333%;
    max-width: 50.33333%;
    min-width: 320px;
  }
}

@media only screen and(min-device-width: 620px) and (max-device-width: 767px) {
  .col-4 {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33333%;
    max-width: 60.33333%;
  }
}

@media only screen and (min-device-width: 380px) and (max-device-width: 619px) {
  .col-4 {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex: 0 0 33.33333%;
    max-width: 100%;
  }
}

.check {
  padding: 40px 0;
  min-width: 300px;
}

.check__content,
.check__header {
  margin-bottom: 20px;
}

.check__organization {
  text-align: center;
}

.check__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: centerl;
  -ms-flex-align: centerl;
  align-items: centerl;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1.4;
}

.check__row--black {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.check__row--black:hover {
  color: #000;
  background: #fff;
}

.check__rq {
  display: block;
  margin-left: auto;
  margin-right: auto;
}